{% extends 'organization/base.html' %}
{% block title %}Blood Donation | Organization | View Profile{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Organization Details</h4>

          {% if details %}

          <form class="forms-sample" id="form_create">
            <div class="form-group">
              <label for="name">Organization Name</label>
              <input type="text" class="form-control" id="name" placeholder="Organization Name"
                value="{{ details[0][1] }}">
            </div>

            <div class="form-group">
              <label for="email">Organization Email</label>
              <input type="text" class="form-control" id="email" placeholder="Organization Email"
                value="{{ details[0][0] }}" disabled>
            </div>

            <div class="form-group">
              <label for="hod">HOD of Organization</label>
              <input type="text" class="form-control" id="hod" placeholder="HOD of Organization"
                value="{{ details[0][2] }}">
            </div>

            <div class="form-group">
              <label for="location">Organization Location</label>
              <input type="text" class="form-control" id="location" placeholder="Organization Location"
                value="{{ details[0][3] }}">
            </div>

            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" class="form-control" id="phone" placeholder="Phone Number" value="{{ details[0][4] }}">
            </div>

            <button type="button" class="btn btn-primary me-2" id="btnUpdate">Update</button>

          </form>

          {% endif %}

        </div>
      </div>
    </div>

  </div>
</div>


<script>

  $(function () {
    $('#btnUpdate').click(function () {

      var name = $('#name').val();
      var hod = $('#hod').val();
      var location = $('#location').val();
      var phone = $('#phone').val();

      if (name == "" || hod == "" || location == "" || phone == "") {
        swal.fire("Account Details", "Fields are empty!", "warning");

      }
      else {

        var form_data = new FormData();
        form_data.append('name', name);
        form_data.append('hod', hod);
        form_data.append('location', location);
        form_data.append('phone', phone);

        $.ajax({
          url: "/organization/profile/update_organization_details",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Account Details", data.success, "success");
              document.getElementById("form_create_account").reset();
            }
            else if (data.error) {
              Swal.fire("Account Details", data.error, "warning");
            }
            else {
              Swal.fire("Account Details", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });

</script>

{% endblock %}