{% extends 'hospital/base.html' %}
{% block title %}Blood Donation | Hospital | Emergency Needs{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Emergency Needs</h4>


        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {% if details %}
              {% for item in details %}
              <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>
                  <a href="/hospital/emergency/view?id={{ item[0] }}" class="btn btn-secondary">VIEW</a>
                </td>
              </tr>
              {% endfor %}
              {% else %}

              <tr>
                <td colspan="6">
                  <center>No Emergency Needs</center>
                </td>
              </tr>

              {% endif %}

            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>


{% endblock %}