{% extends 'admin/base.html' %}
{% block title %}Blood Donation | Admin | View Organization Details{% endblock %}
{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body" id="page">
          <h4 class="card-title">View Organization Details</h4>

          {% if details %}

          <form class="forms-sample" id="form_create">
            <div class="form-group">
              <label for="name">Organization Name</label>
              <input type="text" class="form-control" id="name" placeholder="Organization Name"
                value="{{ details[0][1] }}" disabled>
            </div>

            <div class="form-group">
              <label for="email">Organization Email</label>
              <input type="text" class="form-control" id="email" placeholder="Organization Email"
                value="{{ details[0][0] }}" disabled>
            </div>

            <div class="form-group">
              <label for="hod">HOD of Organization</label>
              <input type="text" class="form-control" id="hod" placeholder="HOD of Organization"
                value="{{ details[0][2] }}" disabled>
            </div>

            <div class="form-group">
              <label for="location">Organization Location</label>
              <input type="text" class="form-control" id="location" placeholder="Organization Location"
                value="{{ details[0][3] }}" disabled>
            </div>

            <div class="form-group">
              <label for="number">Phone Number</label>
              <input type="text" class="form-control" id="number" placeholder="Phone Number" value="{{ details[0][4] }}"
                disabled>
            </div>

            {% if details[0][5] == 0 %}
            <button type="button" id="btn-approved" onclick="approve('{{ details[0][0] }}')"
              class="btn btn-primary me-2">Approved</button>
            {% endif %}

          </form>

          {% endif %}

        </div>
      </div>
    </div>

  </div>
</div>


<div class="content-wrapper">
  <div class="row">

    <div class="card">
      <div class="card-body">

        <div class="submit-button text-center">
          <button class="btn btn-common btn-secondary w-100" id="download" onclick="downloadPdf('Organization-Details')"
            type="button">Download Details</button>
        </div>

      </div>
    </div>

  </div>
</div>

<script>

  function downloadPdf(fileName) {

    var pdf_content = document.getElementById("page");
    var options = {
      margin: 1,
      filename: fileName + '.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }

    };

    html2pdf(pdf_content, options);

  }


  function approve($organizationId) {

    var form_data = new FormData();
    form_data.append('id', $organizationId);

    $.ajax({
      url: "/admin/organization/update_organization_approval",
      enctype: 'multipart/form-data',
      data: form_data,
      contentType: false,
      cache: false,
      processData: false,
      type: 'POST',
    })
      .done(function (data) {
        if (data.redirect) {
          window.location.href = data.redirect;
        }
        else if (data.success) {
          Swal.fire("Organization Approval", data.success, "success");
          location.reload();
        }
        else if (data.error) {
          Swal.fire("Organization Approval", data.error, "warning");
        }
        else {
          Swal.fire("Organization Approval", "Some error occur!", "warning");
        }
      });

    event.preventDefault();
  }

</script>

{% endblock %}