{% extends 'hospital/base.html' %}
{% block title %}Blood Donation | Hospital | View Donor Details{% endblock %}
{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Donor Details</h4>

          {% if details %}

          <form class="forms-sample" id="form_create">
            <div class="form-group">
              <label for="name">Donor Name</label>
              <input type="text" class="form-control" id="name" placeholder="Donor Name" value="{{ details[0][2] }}"
                disabled>
            </div>

            <div class="form-group">
              <label for="email">Donor Email</label>
              <input type="text" class="form-control" id="email" placeholder="Donor Email" value="{{ details[0][1] }}"
                disabled>
            </div>

            <div class="form-group">
              <label for="dob">Donor Dob</label>
              <input type="text" class="form-control" id="dob" placeholder="Donor Dob" value="{{ details[0][3] }}"
                disabled>
            </div>

            <div class="form-group">
              <label for="gender">Donor Gender</label>
              <input type="text" class="form-control" id="gender" placeholder="Donor Gender" value="{{ details[0][4] }}"
                disabled>
            </div>

            <div class="form-group">
              <label for="b_type">Donor Blood Type</label>
              <input type="text" class="form-control" id="b_type" placeholder="Donor Blood Type"
                value="{{ details[0][5] }}" disabled>
            </div>

            <div class="form-group">
              <label for="number">Donor Phone Number</label>
              <input type="text" class="form-control" id="number" placeholder="Donor Phone Number"
                value="{{ details[0][6] }}" disabled>
            </div>

            <div class="form-group">
              <label for="nic">Donor Nic</label>
              <input type="text" class="form-control" id="nic" placeholder="Donor Nic" value="{{ details[0][7] }}"
                disabled>
            </div>

          </form>

          {% endif %}

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Donations</h4>


        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Campaign</th>
                <th>Date</th>
                <th>Donated Qty</th>
              </tr>
            </thead>
            <tbody>

              {% if donations %}
              {% for item in donations %}
              <tr>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[2] }}</td>
              </tr>
              {% endfor %}
              {% else %}

              <tr>
                <td colspan="6">
                  <center>No Donations</center>
                </td>
              </tr>

              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}